* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/653/988/non_2x/treadmill-in-modern-gym-toned-image-3d-rendering-generative-ai-free-photo.jpg);
    background-size: cover;
    background-position: 70%;
}

.title-navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    color: white !important;
}

p {
    color: white;
}

div > h1 {
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.678);
}

.title h1 {
    font-weight: bold;
    text-align: center;
    color: white;
}

@media screen and (max-width: 400px) {
    .title h1 {
        font-size: 20px;
    }
}

.page-navbar {
    width: 100%;
    height: 90vh;
}

#nav-color {
    background-color: rgba(0, 0, 0, 0.425);
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

.nav-link {
    margin-left: 45px;
    font-weight: bold;
    color: antiquewhite;
}

.nav-link:hover {
    color: red;
    text-decoration: underline;
    border-bottom: 2px solid red;
}

.main-pic {
    margin-top: 150px;
    margin-left: 60px;

}

.main-pic h2 {
    font-size: 60px;
}

@media screen and (max-width: 400px) {
    .main-pic h2 {
        font-size: 20px;
    }
}

#btn button {
    background: transparent;
    border: 2px solid white;
    width: 100px;
    height: 40px;
    color: white;
}

#btn button:hover {
    background-color: red;
}

@media screen and (max-width: 900px) {
    #btn button {
        width: 50px;
    }
}

#ftr {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    margin-top: 100px;
}

#ftr h4 {
    color: white;
    padding-top: 20px;
}

#ftr p {
    color: white;
}

.icons i {
    color: white;
    font-size: 30px;
    padding-left: 25px;
}

.created-by {
    color: white;
}

.row img {
    margin-bottom: 10px;
    width: 100%;
}